.vscode/
lex_test.l
bison_test.y
testcases_temp/
token_output/
parsed_output/
ex.o
lex.yy.c
y.output
y.tab.c
y.tab.h
main.o
main_temp.cpp
bash_test.sh
main_temp.o
bison.tab.h
bison.tab.c 
exe
bison.output


