.vscode/
PHASE - 2/lex_test.l
PHASE - 2/bison_test.y
PHASE - 2/testcases_temp/
PHASE - 2/token_output/
PHASE - 2/parsed_output/
PHASE - 2/ex.o
PHASE - 2/lex.yy.c
PHASE - 2/y.output
PHASE - 2/y.tab.c
PHASE - 2/y.tab.h
PHASE - 2/main.o
PHASE - 2/main_temp.cpp
PHASE - 2/bash_test.sh
PHASE - 2/main_temp.o
PHASE - 2/bison.tab.h
PHASE - 2/bison.tab.c
PHASE - 2/exe
PHASE - 2/bison.output
PHASE-3/
PHASE-3.1/lex.yy.c
PHASE-3.1/bison.tab.h
PHASE-3.1/bison.tab.c
PHASE-3.1/bison.output
PHASE-3.1/testcases/temp2.cx
PHASE-3.1/main.o
PHHASE-3.1/ex.o
PHASE-3.1/testcases/temp3.cx
PHASE-3.1/code_output/
PHASE-3.1/testcases/temp.cx
PHASE-3.1/testcases/t1.cx
PHASE-3.1/codegen.output
PHASE-3.1/codegen.o
PHASE-3.1/codegen.tab.c
PHASE-3.1/codegen.tab.h
